<template>
  <v-container>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <button @click="home">
          <v-img
            alt="Logo"
            contain
            :src="require('../assets/logo.png')"
            transition="scale-transition"
            width="200"
          />
        </button>
      </div>

      <v-spacer></v-spacer>

      <!-- <v-btn @click="ShowLoginWithFacebook" text>
        <v-icon>mdi-open-in-new</v-icon>
        <span class="mr-2" style="margin-left: 5px;">Sign in</span>
      </v-btn> -->
    </v-app-bar>
    <v-row no-gutters>
      <v-col cols="12" sm="4">
        <v-avatar tile size="250">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQTXpzxQHiZuJqWbNBHTQ4d0xg_mCZfWvPP4m2e9R0DhpWUFmP7"
            alt="John"
          />
        </v-avatar>
      </v-col>

      <v-col cols="12" sm="8">
        <div style="margin-left: 20px;">
          <p>
            <b>Site Name:</b><br />
            Some page on Facebook
          </p>
          <p>
            <b>Category Site:</b><br />
            columnss
          </p>
          <p>
            <b>Detail :</b><br />
            columnss
          </p>
        </div>
      </v-col>
    </v-row>

    <v-row no-gutters>
      <p style="margin-top: 20px;">
        Url<br />https://www.facebook.com/1241566124/somelink
      </p>
    </v-row>

    <v-card outlined>
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">Reviews</v-list-item-title>
          <v-row no-gutters class="text-center">
            <v-col cols="12" sm="5">
              <h1>4.5</h1>
              <div>total 5892</div>

              <v-rating
                v-model="rating"
                color="yellow darken-3"
                background-color="grey darken-1"
                empty-icon="$ratingFull"
                half-increments
                hover
              ></v-rating>

              <v-row no-gutters>
                <v-col cols="12" sm="1"><div>5</div></v-col>
                <v-col cols="12" sm="11"
                  ><v-progress-linear
                    v-model="valueDeterminate"
                    color="indigo darken-2"
                    height="10"
                  ></v-progress-linear
                ></v-col>
              </v-row>

              <v-row no-gutters>
                <v-col cols="12" sm="1"><div>4</div></v-col>
                <v-col cols="12" sm="11"
                  ><v-progress-linear
                    v-model="valueDeterminate"
                    color="indigo darken-2"
                    height="10"
                  ></v-progress-linear
                ></v-col>
              </v-row>

              <v-row no-gutters>
                <v-col cols="12" sm="1"><div>3</div></v-col>
                <v-col cols="12" sm="11"
                  ><v-progress-linear
                    v-model="valueDeterminate"
                    color="indigo darken-2"
                    height="10"
                  ></v-progress-linear
                ></v-col>
              </v-row>

              <v-row no-gutters>
                <v-col cols="12" sm="1"><div>2</div></v-col>
                <v-col cols="12" sm="11"
                  ><v-progress-linear
                    v-model="valueDeterminate"
                    color="indigo darken-2"
                    height="10"
                  ></v-progress-linear
                ></v-col>
              </v-row>

              <v-row no-gutters>
                <v-col cols="12" sm="1"><div>1</div></v-col>
                <v-col cols="12" sm="11"
                  ><v-progress-linear
                    v-model="valueDeterminate"
                    color="indigo darken-2"
                    height="10"
                  ></v-progress-linear
                ></v-col>
              </v-row>
            </v-col>
            <v-col cols="12" sm="7" style="padding-left: 15px;">
              <v-card
                v-for="index in 10"
                :key="index"
                class="mx-auto"
                height="60"
                style="padding-top: 5px; margin-bottom: 15px;"
              >
                <div>loremipsum {{ index }}(Lerem)</div>
                <v-rating
                  v-model="rating"
                  color="yellow darken-3"
                  background-color="grey darken-1"
                  empty-icon="$ratingFull"
                  half-increments
                  hover
                ></v-rating>
              </v-card>
            </v-col>
          </v-row>
        </v-list-item-content>
      </v-list-item>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  methods: {
    home() {
      this.$router.push('/')
    }
  }
})
</script>
