<template>
  <v-container>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Logo"
          contain
          :src="require('../assets/logo.png')"
          transition="scale-transition"
          width="200"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn @click="ShowLoginWithFacebook" text>
        <v-icon>mdi-login</v-icon>
        <span class="mr-2" style="margin-left: 5px;">Sign in</span>
      </v-btn>
    </v-app-bar>

    <div class="text-center">
      FIND A SITE IF YOUR WANT TO COMMENT
    </div>

    <v-row class="text-center">
      <v-col>
        <v-text-field
          label="What shop you want ?"
          prepend-inner-icon="mdi-account-search-outline"
          v-model="keyword"
          clearable
          outlined
          @keydown.enter="Search"
        ></v-text-field>
      </v-col>
    </v-row>

    <!-- TODO: Add information -->
    <v-row class="text-center">
      <v-col class="mb-4"> 1</v-col>
      <v-col class="mb-4"> 2</v-col>
      <v-col class="mb-4"> 3</v-col>
    </v-row>

    <v-dialog v-model="showLogin" width="500">
      <template> </template>
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
          Privacy Policy
        </v-card-title>

        <v-card-text>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <facebook-login
            class="button"
            appId="966868923399919"
            @sdk-loaded="sdkLoaded"
            @login="onLogin"
            @logout="onLogout"
          >
            <!-- @get-initial-status="getUserData" -->
          </facebook-login>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="showRegister" persistent max-width="600px" ref="form">
      <v-card>
        <v-card-title>
          <span class="headline">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="First name*"
                    :rules="requireField"
                    v-model="firstname"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="Last name*"
                    :rules="requireField"
                    v-model="lastname"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Email*"
                    :rules="emailRules"
                    v-model="email"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="National ID*"
                    :rules="requireField"
                    v-model="idcard"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-file-input
                    label="Front Photo ID Card"
                    :rules="requireField"
                    v-model="frontCard"
                    filled
                    prepend-icon="mdi-camera"
                  ></v-file-input>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-file-input
                    label="Back Photo ID Card"
                    :rules="requireField"
                    v-model="backCard"
                    filled
                    prepend-icon="mdi-camera"
                  ></v-file-input>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <p>Birthday Date</p>
                  <v-row>
                    <v-date-picker
                      v-model="hbd"
                      :rules="requireField"
                    ></v-date-picker> </v-row
                ></v-col>
              </v-row>
            </v-form>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="showRegister = false"
            >Close</v-btn
          >
          <v-btn color="blue darken-1" :disabled="!valid" text @click="Register"
            >Save</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar">
      {{ message }}
      <v-btn color="pink" text @click="snackbar = false">
        Close
      </v-btn>
    </v-snackbar>
    <!-- national_id,firstname,lastname,birthday -->
  </v-container>
</template>

<script>
import Vue from 'vue'
import facebookLogin from 'facebook-login-vuejs'
import { api } from '@/utils/api'

export default Vue.extend({
  components: {
    facebookLogin
  },
  data() {
    return {
      valid: true,
      snackbar: false,
      showLogin: false,
      showRegister: false,
      isConnected: false,
      keyword: undefined,
      name: '',
      email: '',
      personalID: '',
      picture: '',
      firstname: '',
      lastname: '',
      idcard: '',
      frontCard: undefined,
      backCard: undefined,
      FB: undefined,
      token: undefined,
      hbd: undefined,
      message: undefined,
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      requireField: [v => !!v || 'E-mail is required']
    }
  },
  methods: {
    Search() {
      this.$router.push('/searchaccount?keyword=' + this.keyword)
    },
    ShowLoginWithFacebook() {
      this.showLogin = true
    },
    Register() {
      if (this.$refs.form.validate()) {
        api
          .post('/register', {
            token: this.token,
            firstname: this.firstname,
            lastname: this.lastname,
            nationalId: this.idcard,
            frontCard: this.frontCard,
            backCard: this.backCard,
            birthday: this.hbd
          })
          .then(response => {
            if (response.data.success) {
              this.showRegister = false
              this.$store.commit('changeToken', this.token)
              this.$store.commit('updateName', this.name)
              this.$router.push('/profile/' + this.personalID)
            }
            console.log(response)
          })
          .catch(error => {
            this.message = error
            this.snackbar = true
            console.log(error)
          })
      }
    },
    getUserData() {
      this.FB.api('/me', 'GET', { fields: 'id,name,email,picture' }, user => {
        this.personalID = user.id
        this.email = user.email
        this.name = user.name
        this.picture = user.picture.data.url
        this.token = this.FB.getAccessToken()
        console.log(user)
        console.log(this.token)

        api
          .post('/prelogin', { token: this.token })
          .then(response => {
            if (response.data.success) {
              this.$store.commit('changeToken', this.token)
              this.$store.commit('updateName', this.name)
              this.$router.push('/profile/' + this.personalID)
            } else {
              this.showLogin = false
              this.showRegister = true
            }
            console.log(response)
          })
          .catch(error => {
            this.message = error
            this.snackbar = true
            console.log(error)
          })
      })
    },
    sdkLoaded(payload) {
      this.isConnected = payload.isConnected
      this.FB = payload.FB

      if (this.isConnected) {
        this.getUserData()
      }
    },
    onLogin() {
      this.isConnected = true
      this.getUserData()
    },
    onLogout() {
      this.isConnected = false
    }
  }
})
</script>
