<template>
  <v-container>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <button @click="home">
          <v-img
            alt="Logo"
            contain
            :src="require('../assets/logo.png')"
            transition="scale-transition"
            width="200"
          />
        </button>
      </div>

      <v-spacer></v-spacer>

      <!-- <v-btn @click="ShowLoginWithFacebook" text>
        <v-icon>mdi-open-in-new</v-icon>
        <span class="mr-2" style="margin-left: 5px;">Sign in</span>
      </v-btn> -->
    </v-app-bar>

    <v-row no-gutters>
      <v-col cols="12" sm="4">
        <v-card width="256" class="mx-auto">
          <v-navigation-drawer permanent>
            <v-list-item>
              <v-list-item-content>
                <v-avatar size="125">
                  <img :src="urlProfile" />
                </v-avatar>
                <v-list-item-title
                  class="title text-center"
                  style="margin: 10px;"
                >
                  {{ this.$store.state.name }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list nav rounded class="text-center">
              <v-subheader>All shops</v-subheader>
              <v-list-item-group color="primary">
                <v-list-item
                  link
                  v-for="(item, i) in shops"
                  :key="i"
                  @click="selectShop(i)"
                >
                  <v-list-item-content>
                    <v-list-item-title>{{ item.name }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>

              <v-btn style="margin-top: 10px;" @click="showCreateShop = true"
                >Create Shop +</v-btn
              >
            </v-list>
          </v-navigation-drawer>
        </v-card>
      </v-col>
      <v-col cols="12" sm="8">
        <v-row no-gutters>
          <v-col cols="12" sm="4">
            <v-avatar tile size="250">
              <img :src="urlPage" />
            </v-avatar>
          </v-col>

          <v-col cols="12" sm="8">
            <div style="margin-left: 20px;">
              <p>
                <b>Site Name:</b><br />
                {{ shopName }}
              </p>
              <p>
                <b>Category Site:</b><br />
                Lorem ipsum
              </p>
              <p>
                <b>Detail :</b><br />
                Lorem ipsum
              </p>
            </div>
          </v-col>
        </v-row>

        <v-row no-gutters>
          <p style="margin-top: 20px;">Url<br />https://www.facebook.com/</p>
        </v-row>

        <v-row no-gutters>
          <v-card outlined>
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title class="headline mb-1"
                  >Reviews</v-list-item-title
                >
                <v-row no-gutters class="text-center">
                  <v-col cols="12" sm="5">
                    <h1>4.5</h1>
                    <div>total 5892</div>

                    <v-rating
                      v-model="rating"
                      color="yellow darken-3"
                      background-color="grey darken-1"
                      empty-icon="$ratingFull"
                      half-increments
                      hover
                    ></v-rating>

                    <v-row no-gutters>
                      <v-col cols="12" sm="1"><div>5</div></v-col>
                      <v-col cols="12" sm="11"
                        ><v-progress-linear
                          v-model="valueDeterminate"
                          color="indigo darken-2"
                          height="10"
                        ></v-progress-linear
                      ></v-col>
                    </v-row>

                    <v-row no-gutters>
                      <v-col cols="12" sm="1"><div>4</div></v-col>
                      <v-col cols="12" sm="11"
                        ><v-progress-linear
                          v-model="valueDeterminate"
                          color="indigo darken-2"
                          height="10"
                        ></v-progress-linear
                      ></v-col>
                    </v-row>

                    <v-row no-gutters>
                      <v-col cols="12" sm="1"><div>3</div></v-col>
                      <v-col cols="12" sm="11"
                        ><v-progress-linear
                          v-model="valueDeterminate"
                          color="indigo darken-2"
                          height="10"
                        ></v-progress-linear
                      ></v-col>
                    </v-row>

                    <v-row no-gutters>
                      <v-col cols="12" sm="1"><div>2</div></v-col>
                      <v-col cols="12" sm="11"
                        ><v-progress-linear
                          v-model="valueDeterminate"
                          color="indigo darken-2"
                          height="10"
                        ></v-progress-linear
                      ></v-col>
                    </v-row>

                    <v-row no-gutters>
                      <v-col cols="12" sm="1"><div>1</div></v-col>
                      <v-col cols="12" sm="11"
                        ><v-progress-linear
                          v-model="valueDeterminate"
                          color="indigo darken-2"
                          height="10"
                        ></v-progress-linear
                      ></v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" sm="7" style="padding-left: 15px;">
                    <v-card
                      v-for="index in 10"
                      :key="index"
                      class="mx-auto"
                      height="60"
                      style="padding-top: 5px; margin-bottom: 15px;"
                    >
                      <div>loremipsum {{ index }}(Lerem)</div>
                      <v-rating
                        v-model="rating"
                        color="yellow darken-3"
                        background-color="grey darken-1"
                        empty-icon="$ratingFull"
                        half-increments
                        hover
                      ></v-rating>
                    </v-card>
                  </v-col>
                </v-row>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-row>
      </v-col>
    </v-row>

    <v-dialog v-model="showCreateShop" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Create Shop</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <v-text-field
                  label="Facebook page URL"
                  v-model="url"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="showCreateShop = false"
            >Close</v-btn
          >
          <v-btn color="blue darken-1" text @click="createShop">Enter</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import Vue from 'vue'
import { api } from '@/utils/api'

export default Vue.extend({
  data() {
    return {
      url: '',
      showCreateShop: false,
      shopName: this.$store.state.name,
      urlProfile:
        'http://graph.facebook.com/' +
        this.$route.params.id +
        '/picture?type=normal',
      urlPage:
        'http://graph.facebook.com/' +
        this.$route.params.id +
        '/picture?type=normal',
      shops: []
    }
  },
  methods: {
    home() {
      this.$router.push('/')
    },
    createShop() {
      api
        .post('/user/addpage', {
          token: this.$store.state.token,
          url: this.url
        })
        .then(response => {
          console.log(response)
          this.showCreateShop = false
          this.shops.push(response.data.data)

          // TODO: Put new shop to database
        })
        .catch(error => {
          console.log(error)
        })
    },
    selectShop(i) {
      this.shopName = this.shops[i].name
      this.urlPage =
        'http://graph.facebook.com/' + this.shops[i].id + '/picture?type=normal'
    }
  },
  created() {
    console.log('Test')
  }
})
</script>
