<template>
  <v-container>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <button @click="home">
          <v-img
            alt="Logo"
            class="shrink mr-2"
            contain
            :src="require('../assets/logo.png')"
            transition="scale-transition"
            width="200"
          />
        </button>
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-row class="text-center">
      <v-col>
        <h1>Result: {{ this.$route.query.keyword }}</h1>
      </v-col>
    </v-row>

    <!-- บล็อครูป -->
    <v-card max-width="1000" class="mx-auto" @click="select('2132484321')">
      <v-row>
        <v-col cols="12" sm="1"> </v-col>
        <v-col cols="12" sm="2">
          <v-avatar tile size="150">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQTXpzxQHiZuJqWbNBHTQ4d0xg_mCZfWvPP4m2e9R0DhpWUFmP7"
              alt="John"
            />
          </v-avatar>
        </v-col>

        <v-col cols="12" sm="3">
          <div style="margin-left: 10%;">
            <p>
              <b>Page Name:</b>
              <br />Theverify FC 2020
            </p>
            <p>
              <b>Category Site:</b>
              <br />Cuteboy / Comedy
            </p>
          </div>
        </v-col>
        <v-col cols="12" sm="5">
          <div style="margin-left: 2px;">
            <p>
              <b>Detail :</b>
              <br />Create page 15/2/2020 <br />URL:
              https://www.facebook.com/Theverify FC 2020
            </p>
          </div>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      name: undefined
    }
  },
  methods: {
    home() {
      this.$router.push('/')
    },
    select(id: string) {
      this.$router.push('/detail/' + id)
    }
  }
})
</script>
